<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Tipo</th>
        <th scope="col">Preço</th>
        <th scope="col">Marca</th>
        <th scope="col">Fabricação</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let produtos of produtos">
        <th scope="row">{{produtos.id}}</th>
        <td>{{produtos.name}}</td>
        <td>{{produtos.price}}</td>
        <td>{{produtos.brand}}</td>
        <td>{{produtos.date}}</td>
      </tr>
    </tbody>
  </table>